p {
    color: #aa8379;
   
}
.p2 {
    color: rgb(55, 175, 175);
}
.p3 {
     color: rgba(100, 255, 145, 0.5);
}
.p4 {
    color: hsl(0, 52%, 29%);
}
body {
    background-color: #ebe6e5;
    background-image: url('cybersquareprofessional_logo.jpeg');
    background-repeat: no-repeat;
    
   
}
@keyframes marquee{
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(-100%);
    }
}
.marquee {
    display: inline-block;
    overflow: hidden;
    
    animation: marquee 10s linear infinite;
}