
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
 }


li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5a1cde;
}
body {
  background: linear-gradient( to right,blue,violet);
  
}
h3 {
  color: white;
  margin-left: 60px;
}



.div2 {
  text-align: center;
  color: white;
}

.button1 {
  background: rgb(49, 223, 49);
  color: white;
  height: 50px;
  border-radius: 20%;
  border: none;
}
.button2 {
  color: white;
  background: none;
  height: 50px;
  border-radius: 20%;
  border-style: ridge;
  border-color: white;
}
button {
  margin-right: 10px;
}
h1 {
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 100px;
  padding-left: 30px;
}
