body {
    
      width: 400px;
      height: 400px;
}
#container1 {
    background-color: rgb(5, 92, 168);
    width: 500px;
    height: 400px;
    text-align: center;
    color: white;
}
#container2 {
    background-color: rgb(41, 130, 24);
    width: 500px;
    height: 400px;
    text-align: center;
    color: white;
}
.container3 {
    background-color: rgb(157, 94, 12);
    width: 500px;
    height: 400px;
    text-align: center;
    color: white;
}
.main div {
    display: flex;
    justify-content: space-between;
}
* {
    margin-left: 10px;
    margin-right: 10px;
}
li a {
    color: black;
}

li:nth-child(2) {
    color: rgb(193, 33, 33);
    background-color: yellowgreen;
}

ul li:first-child {
    font-weight: bold;
}

p::before {
    content: "about";
    font-weight: "bold";
    font-size: 30px;
    color: blue;
}
.paragraph::after {
    content: "thank you";
    color: azure;
    font-size: 30px;
}

p::first-line {
    font-weight: "bold";
    color: red;
}
.container3:active {
    background-color: aqua;
    color: black;
}
a:hover {
    color: yellow;
}